<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="/static/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Navigation Bar</header>
    <ul>
     <li><a href="/question"><i class="far fa-question-circle"></i>Ask Question</a></li>
     <li><a href="/similarityCheck"><i class="fas fa-link"></i>Search Experts</a></li>
     <li><a href="/forums"><i class="fas fa-stream"></i>Forums</a></li>
     <li><a href="/logout"><i class="fas fa-calendar-week"></i>Logout</a></li>
    </ul>
   </div>
   <main class="table">
    <form method="POST">
        <div>
            <select class="selectpicker" name="ques" id="ques" method="GET">
              {% for row in questions %}
              <option value="{{ row }}" SELECTED>{{ row }}</option>
              {% endfor %}
            </select>
          </div>
        <div>
          <textarea class="textarea" id="explanation" name="explanation" rows="4" cols="50"></textarea>
          <button>Submit</button>
        </div>
    </form>
   </main>
   
   <section></section>
  </body>
</html>